<div class="jumbotron">
    <!-- <h1>Welcome to NxtOrbis Technologies</h1>
    <p>Leading provider of innovative software products.</p>
    <a routerLink="/products" routerLinkActive="active" class="btn btn-primary">Explore Products</a> -->
    <section class="container pb-5 mb-md-2 mb-lg-4">
        <h1 class="border-bottom pb-4">Who We Are</h1>
        <div class="pt-2 pt-md-3">
          <div>
            <p class="fs-lg ps-lg-4 mb-1 mb-lg-4">We are a forward-thinking <strong>software development company </strong>dedicated to <strong>innovative digital solutions</strong> that empower businesses and individuals. Our expertise spans <strong>software product development, custom software solutions, AI-driven applications, cloud computing, blockchain integration, and mobile app development.</strong></p>
          </div>
          <div>
            <p class="fs-lg ps-lg-4 mb-1 mb-lg-4">With a passion for technology and a commitment to excellence, we specialize in developing high-quality products such as <strong>Advocate Office Management System, Birthday Reminder App, True Review System, and Genuine Product Checker</strong>. We also provide <strong>tailored software solutions</strong> to meet unique client needs, ensuring efficiency, scalability, and security.</p>
          </div>
          <div>
            <p class="fs-lg ps-lg-4 mb-1 mb-lg-4">At our core, we are a team of <strong>experienced developers, designers, and strategists</strong> who believe in using technology to drive meaningful impact. Whether it's leveraging <strong>AI for automation</strong>, enhancing <strong>cybersecurity</strong>, or optimizing <strong>business processes</strong>, we deliver cutting-edge solutions that make a difference.</p>
          </div>
          <div>
            <p class="fs-lg ps-lg-4 mb-1 mb-lg-4">Let us <strong>transform your ideas into reality </strong>with our expertise and innovation.</p>
          </div>
        </div>
      </section>
      <section class="container pb-5 mb-2 mb-md-4 mb-lg-5">
        <div class="bg-secondary rounded-3 py-5 px-3 px-md-0">
          <div class="row justify-content-center mb-2 py-md-2 py-lg-4">
            <div class="col-lg-10 col-md-11">
              <h2 class="pb-3">Our Culture & Team</h2>
              <div class="row row-cols-1 row-cols-md-2 g-4">

                <!-- Item -->
                <div class="col">
                  <div class="card h-100 border-0 shadow-sm p-md-2 p-lg-4">
                    <div class="card-body d-flex align-items-center">
                      <!-- <div class="bg-primary shadow-primary rounded-3 flex-shrink-0 p-3"> -->
                        <!-- <img src="assets/headset-light.svg" class="d-block m-1" width="40" alt="Icon"> -->
                      <!-- </div> -->
                      <div class="ps-4 ms-lg-3">
                        <!-- <h3 class="display-5 mb-1">2,480</h3> -->
                        <p class="mb-0"><span class="fw-semibold">Passion for Problem-Solving - </span> We are not just coders; we are problem-solvers who thrive on tackling complex challenges. Whether it's optimizing business processes, enhancing cybersecurity, or building AI-powered solutions, we approach each project with dedication and precision.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Item -->
                <div class="col">
                  <div class="card h-100 border-0 shadow-sm p-md-2 p-lg-4">
                    <div class="card-body d-flex align-items-center">
                      <!-- <div class="bg-primary shadow-primary rounded-3 flex-shrink-0 p-3"> -->
                        <!-- <img src="assets/chat-light.svg" class="d-block m-1" width="40" alt="Icon"> -->
                      <!-- </div> -->
                      <div class="ps-4 ms-lg-3">
                        <!-- <h3 class="display-5 mb-1">1,200</h3> -->
                        <p class="mb-0"><span class="fw-semibold">Innovation-Driven Mindset - </span> We embrace cutting-edge technologies like Artificial Intelligence, Blockchain, and Cloud Computing to stay ahead of industry trends. Our team continuously explores new frameworks, tools, and methodologies to enhance the efficiency and quality of our products.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Item -->
                <div class="col">
                  <div class="card h-100 border-0 shadow-sm p-md-2 p-lg-4">
                    <div class="card-body d-flex align-items-center">
                      <!-- <div class="bg-primary shadow-primary rounded-3 flex-shrink-0 p-3">
                        <img src="assets/add-group-light.svg" class="d-block m-1" width="40" alt="Icon">
                      </div> -->
                      <div class="ps-4 ms-lg-3">
                        <!-- <h3 class="display-5 mb-1">760</h3> -->
                        <p class="mb-0"><span class="fw-semibold">Teamwork & Collaboration - </span>We foster a collaborative and agile environment where developers, designers, and strategists work seamlessly. Through brainstorming sessions, code reviews, and pair programming, we encourage open communication, knowledge sharing, and continuous learning to build innovative solutions efficiently.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Item -->
                <div class="col">
                  <div class="card h-100 border-0 shadow-sm p-md-2 p-lg-4">
                    <div class="card-body d-flex align-items-center">
                      <!-- <div class="bg-primary shadow-primary rounded-3 flex-shrink-0 p-3">
                        <img src="assets/location-light.svg" class="d-block m-1" width="40" alt="Icon">
                      </div> -->
                      <div class="ps-4 ms-lg-3">
                        <!-- <h3 class="display-5 mb-1">58</h3> -->
                        <p class="mb-0"><span class="fw-semibold">Diversity & Inclusion - </span> We take pride in having a diverse team with professionals from different backgrounds, cultures, and skill sets. This diversity fuels creativity and innovation, allowing us to develop solutions that cater to a global audience.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container pb-5 mb-2 mb-md-4 mb-lg-5 mt-n2">
        <div class="d-flex align-items-center justify-content-between pb-4 mb-2">
          <h2 class="h1 mb-0">We are Powerful</h2>
          <a href="#" class="btn btn-outline-primary btn-lg">
            <i class="bx bx-images fs-4 lh-1 me-2"></i>
            See all photos
          </a>  
        </div>
        <div class="gallery row g-4" data-video="true" data-thumbnails="true">
          <div class="col-md-5">
            <a href="https://www.youtube.com/watch?v=zPo5ZaH6sW8" class="gallery-item video-item is-hovered rounded-3" data-sub-html="<h6 class=&quot;fs-sm text-light&quot;>Silicon Inc. Showreel by Marvin McKinney</h6>" data-lg-id="1ad26a54-9bd0-4387-a12e-8e9485ff0043">
              <img src="assets/gallery/01.jpg" alt="Gallery thumbnail">
              <div class="gallery-item-caption">
                <!-- <h4 class="text-light mb-1">Silicon Inc.</h4> -->
                <p class="mb-0">Highly qualified development team</p>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-5">
            <a href="assets/.jpg" class="gallery-item rounded-3 mb-4" data-sub-html="<h6 class=&quot;fs-sm text-light&quot;>Program for apprentices</h6>" data-lg-id="56e0cc18-38ee-46be-b4c2-a18eb19ac9a4">
              <img src="assets/gallery/02.jpg" alt="Gallery thumbnail">
              <div class="gallery-item-caption fs-sm fw-medium">Program for apprentices</div>
            </a>
            <a href="assets/gallery/03.jpg" class="gallery-item rounded-3" data-sub-html="<h6 class=&quot;fs-sm text-light&quot;>Modern bright offices</h6>" data-lg-id="7e68090b-06e7-412e-a1eb-2561d385a16e">
              <img src="assets/gallery/03.jpg" alt="Gallery thumbnail">
              <div class="gallery-item-caption fs-sm fw-medium">Modern bright offices</div>
            </a>
          </div>
          <div class="col-md-4 col-sm-7">
            <a href="assets/gallery/04.jpg" class="gallery-item rounded-3 mb-4" data-sub-html="<h6 class=&quot;fs-sm text-light&quot;>Friendly professional team</h6>" data-lg-id="25a81cfd-5c4a-4dc8-a2cc-98b2f11d8316">
              <img src="assets/gallery/04.jpg" alt="Gallery thumbnail">
              <div class="gallery-item-caption fs-sm fw-medium">Friendly professional team</div>
            </a>
            <a href="assets/gallery/05.jpg" class="gallery-item rounded-3" data-sub-html="<h6 class=&quot;fs-sm text-light&quot;>Efficient project management</h6>" data-lg-id="459f1904-2c40-40bf-b7d5-1391f124f65c">
              <img src="assets/gallery/05.jpg" alt="Gallery thumbnail">
              <div class="gallery-item-caption fs-sm fw-medium">Efficient project management</div>
            </a>
          </div>
        </div>
      </section>
      <section class="container pb-3 pb-lg-5 mb-3 mb-xl-4">
        <h2 class="text-center pb-md-2">Trusted by Leading Companies</h2>
        <div class="swiper mx-n2 swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden" data-swiper-options="{
          &quot;slidesPerView&quot;: 2,
          &quot;pagination&quot;: {
            &quot;el&quot;: &quot;.swiper-pagination&quot;,
            &quot;clickable&quot;: true
          },
          &quot;breakpoints&quot;: {
            &quot;500&quot;: {
              &quot;slidesPerView&quot;: 3,
              &quot;spaceBetween&quot;: 8
            },
            &quot;650&quot;: {
              &quot;slidesPerView&quot;: 4,
              &quot;spaceBetween&quot;: 8
            },
            &quot;900&quot;: {
              &quot;slidesPerView&quot;: 5,
              &quot;spaceBetween&quot;: 8
            },
            &quot;1100&quot;: {
              &quot;slidesPerView&quot;: 6,
              &quot;spaceBetween&quot;: 8
            }
          }
        }">
          <div class="swiper-wrapper" id="swiper-wrapper-8ed9311089d66f5ef" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">

            <!-- Item -->
            <div class="swiper-slide py-3 swiper-slide-active" role="group" aria-label="1 / 6" style="width: 212px; margin-right: 8px;">
              <a href="#" class="card card-body card-hover px-2 mx-2">
                <img src="assets/brands/01.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
              </a>
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3 swiper-slide-next" role="group" aria-label="2 / 6" style="width: 212px; margin-right: 8px;">
              <a href="#" class="card card-body card-hover px-2 mx-2">
                <img src="assets/brands/02.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
              </a>
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3" role="group" aria-label="3 / 6" style="width: 212px; margin-right: 8px;">
              <a href="#" class="card card-body card-hover px-2 mx-2">
                <img src="assets/brands/03.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
              </a>
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3" role="group" aria-label="4 / 6" style="width: 212px; margin-right: 8px;">
              <a href="#" class="card card-body card-hover px-2 mx-2">
                <img src="assets/brands/04.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
              </a>
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3" role="group" aria-label="5 / 6" style="width: 212px; margin-right: 8px;">
              <a href="#" class="card card-body card-hover px-2 mx-2">
                <img src="assets/brands/05.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
              </a>
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3" role="group" aria-label="6 / 6" style="width: 212px; margin-right: 8px;">
              <a href="#" class="card card-body card-hover px-2 mx-2">
                <img src="assets/brands/06.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
              </a>
            </div>
          </div>

          <!-- Pagination (bullets) -->
          <div class="swiper-pagination position-relative pt-2 mt-4 swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
      </section>
      <app-contact></app-contact>

</div>
