<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Pricing</h1>
    <p class="fs-5 text-body-secondary">Our <strong>Advocate Office Management System</strong> is designed to streamline legal practice management with advanced features, ensuring efficiency and productivity. We offer flexible pricing plans to suit different needs, whether you're an independent lawyer, a small law firm, or a large legal enterprise.</p>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Basic</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Rs.499<small class="text-body-secondary fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Ideal for solo practitioners</li>
            <li>Case & Client Management</li>
            <li>Calendar & Appointment Scheduling</li>
            <li>Secure Document Storage</li>
            <li>Email & SMS Reminders</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up basic plan</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Rs.999<small class="text-body-secondary fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Includes all Basic Plan features</li>
            <li>10 users included</li>
            <li>Team Collaboration & Multi-User Access</li>
            <li>Integration with Cloud Storage</li>
            <li>Priority Support</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Enterprise</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Rs.1999<small class="text-body-secondary fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Best for large legal firms & enterprises</li>
            <li>Includes all Professional Plan features</li>
            <li>25 users included</li>
            <li>Advanced Security & Compliance</li>
            <li>Dedicated Account Manager</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
        </div>
      </div>
    </div>
  </div>
