<section class="bg-secondary pb-md-2 pb-lg-5">
    <!-- <div class="d-none d-lg-block" style="margin-top: -60px; padding-top: 60px;"></div> -->
    <div class="container pb-4">
      <h2 class="h1 text-center text-md-start mb-lg-4 pt-1 pt-md-4">Our Services</h2>
      <div class="row align-items-center pb-5 mb-lg-2">
        <div class="text-center text-md-start">
          <p class="fs-lg mb-md-0">We provide <strong>innovative, high-performance, and scalable software solutions</strong> tailored to meet the evolving needs of modern businesses. By leveraging the latest <strong>technologies, industry best practices, and agile methodologies</strong>, we help organizations enhance <strong>efficiency, security, and digital transformation</strong>. Our solutions are designed to <strong>streamline operations, drive growth, and improve user experiences</strong>, ensuring that businesses stay ahead in today’s competitive landscape.</p>
        </div>
        <!-- <div class="col-md-4 d-flex justify-content-center justify-content-md-end">
          <a href="services-v1.html" class="btn btn-outline-primary btn-lg">See all services</a>
        </div> -->
      </div>
      <div class="row row-cols-1 row-cols-md-2">

        <!-- Item -->
        <div class="col py-4 my-2 my-sm-3">
          <a href="services-single-v1.html" class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 me-xl-2">
            <div class="card-body pt-3">
              <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
                <img src="assets/services/cms.svg" class="d-block m-1" width="40" alt="Icon">
              </div>
              <h2 class="h4 d-inline-flex align-items-center">
                Custom Software Development
                <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
              </h2>
              <p class="fs-sm text-body mb-0">We specialize in software product development and custom software solutions, delivering innovative, scalable, and user-friendly applications. From ready-made products to tailored software, we help businesses streamline operations and achieve success through technology.</p>
            </div>
          </a>
        </div>

        <!-- Item -->
        <div class="col py-4 my-2 my-sm-3">
          <a href="services-single-v1.html" class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
            <div class="card-body pt-3">
              <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
                <img src="assets/services/rocket.svg" class="d-block m-1" width="40" alt="Icon">
              </div>
              <h2 class="h4 d-inline-flex align-items-center">
                Software Product Development
                <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
              </h2>
              <p class="fs-sm text-body mb-0">Software Product Development is the end-to-end process of designing, building, deploying, and maintaining software applications that solve specific business challenges or enhance user experiences. At NxtOrbis® We specialize in developing scalable, secure, and high-performance software products tailored to meet market needs and customer expectations.</p>
            </div>
          </a>
        </div>

        <!-- Item -->
        <div class="col py-4 my-2 my-sm-3">
          <a href="services-single-v1.html" class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
            <div class="card-body pt-3">
              <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
                <img src="assets/services/mobile-app.svg" class="d-block m-1" width="40" alt="Icon">
              </div>
              <h2 class="h4 d-inline-flex align-items-center">
                Mobile App Development
                <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
              </h2>
              <p class="fs-sm text-body mb-0">At NxtOrbis®, We specialize in mobile application development, creating high-performance, user-friendly, and scalable apps for both Android and iOS platforms. Our focus is on delivering seamless digital experiences that enhance user engagement and business efficiency.</p>
            </div>
          </a>
        </div>

        <!-- Item -->
        <div class="col py-4 my-2 my-sm-3">
          <a href="services-single-v1.html" class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
            <div class="card-body pt-3">
              <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
                <img src="assets/services/analytics.svg" class="d-block m-1" width="40" alt="Icon">
              </div>
              <h2 class="h4 d-inline-flex align-items-center">
                Artificial Intelligence
                <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
              </h2>
              <p class="fs-sm text-body mb-0">At NxtOrbis®, We harness the power of Artificial Intelligence (AI) to build smarter, more efficient, and data-driven software solutions. By integrating AI into our products, we enable businesses to automate processes, enhance decision-making, and improve user experiences.</p>
            </div>
          </a>
        </div>

        <!-- Item -->
        <div class="col py-4 my-2 my-sm-3">
          <a href="services-single-v1.html" class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
            <div class="card-body pt-3">
              <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
                <img src="assets/services/web-search.svg" class="d-block m-1" width="40" alt="Icon">
              </div>
              <h2 class="h4 d-inline-flex align-items-center">
                Block Chain Development
                <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
              </h2>
              <p class="fs-sm text-body mb-0">At NxtOrbis®, We integrate blockchain technology to build secure, transparent, and tamper-proof solutions. By leveraging blockchain, we ensure data integrity, trust, and authenticity in our products, particularly in Genuine Product Checker and True Review System.</p>
            </div>
          </a>
        </div>

        <!-- Item -->
        <div class="col py-4 my-2 my-sm-3">
          <a href="services-single-v1.html" class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
            <div class="card-body pt-3">
              <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
                <img src="assets/services/cloud.png" class="d-block m-1" width="40" alt="Icon">
              </div>
              <h2 class="h4 d-inline-flex align-items-center">
                Cloud Computing
                <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
              </h2>
              <p class="fs-sm text-body mb-0">At NxtOrbis®, We specialize in cloud-based software development, enabling businesses to scale effortlessly, enhance security, and improve efficiency. By leveraging cloud computing, we build high-performance, cost-effective, and flexible solutions tailored to modern business needs.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>